body {
  font-size: 1rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  zoom: 1;
  font-family: "M PLUS 1p", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #454552;
  color: #d8e9ef;
}

header p strong {
    text-transform: uppercase;
}

.post-title {
  color: #e85a71;
  font-weight: bold;
}

.index-title {
    background: black;
    margin: 10rem 0;
    color: #e85a71;
    padding: 2rem;
    font-weight: bold;
}

a,a:visited {
  color: #4ea1d3;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    color: #fff;
  }
}

a.active {
    // background: #4ea1d3;
    // padding: 0.5rem;
    color: #fff;
    font-weight: bold;
}

blockquote {
  background: #000;
  border-left: 5px solid #d8e9ef;
  font-size: 120%;
  margin: 2rem 0;
  padding: 1rem;

  p {
    margin: 0;
  }

  footer {
    font-size: 90%;
    margin: 1rem 0 0 0;
  }
}

dl {
  dt {
    margin-bottom: 0.5rem;
  }
  dd {
    font-style: italic;
    margin-bottom: 2rem;
  }
}

code, pre {
	font-family: San Francisco Mono,Monaco,"Consolas","Lucida Console","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
	font-size: 92%;
}

pre {
  background: #000;
  color: #fff;
  overflow: auto;
  padding: 1em;
  width: 100%;
}

.date {
  opacity: 0.6;
}